<div class="task-list">
  <div class="actions">
    <a
      mat-stroked-button
      routerLink="./create"
    >
      Создать задачу
    </a>
  </div>
  <div class="list">
    @if (isLoading()) {
      <mat-spinner />
    } @else {
      @for (task of tasks(); track task.id) {
        <mat-divider />
        <div class="task-card">
          <span>№{{ task.id }},</span>
          <span>{{ task.name }},</span>
          <span>{{ TaskStatusNames[task.status] }},</span>
          <span>Планирумая дата завершения: {{ formatDateTime(task.plannedCompletionDate) }}</span>
          <a mat-button [routerLink]="task.id.toString()" class="link">Подробнее</a>
        </div>
      } @empty {
        <mat-divider />
        <div>Задач не найдено</div>
      }
    }
  </div>
</div>
